$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200;

@mixin mobile {
  @media (min-width: 0) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width - 1px}) {
    @content;
  }
}
