$primary: #ee7421;
$primary--blur: #f0c1a292;

// text color
$text-color: #333;
$sub-text-color: #9c9c9d;
$text-warn-color: #ce9e41;
$text-info-color: #0f6ac0;
$text-error-color: #c82727;
$text-success-color: #229939;

// bg
$bg-warn: #fff3cd;
$bg-info: #e7f5ff;
$bg-error: #fff5f5;
$bg-success: #ebfbee;

// snackbar
$snackbar-success-color: #82af50;
$snackbar-error-color: #f16a67;
$snackbar-warn-color: #ffca29;

//
$header-height: 90px;
$body-width: 1200px;
