$primary: #ee7421;
$primary--blur: #f0c1a292;

// text color
$text-color: #333;
$sub-text-color: #9c9c9d;

// snackbar
$snackbar-success-color: #82af50;
$snackbar-error-color: #f16a67;
$snackbar-warn-color: #ffca29;

//
$header-height: 90px;
$body-width: 1200px;
